<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".Phase2VisualQaActivity"
            android:exported="true"
            android:label="AstraWave Phase 2 QA" />
        <activity
            android:name=".Phase2ModalQaActivity"
            android:exported="true"
            android:label="AstraWave Phase 2 Modal QA" />
    </application>
</manifest>
